<div class="container">
	<div class="row">
		<div class="col-3 bg-success">A</div>
		<div class="col-3 bg-warning">B</div>
		<div class="col-6 bg-secondary">C</div>
	</div>
</div>

<div class="container-fluid">
	<div class="row">
		<div class="col-3 bg-success">D</div>
		<div class="col-3 bg-warning">E</div>
		<div class="col-6 bg-secondary">F</div>
	</div>
</div>

<div class="container">
	<div class="row">
		<div class="col-12 col-sm-6 col-md bg-info">G</div>
		<div class="col-12 col-sm-6 col-md bg-light">H</div>
		<div class="col-12 col-sm-12 col-md bg-primary">I</div>
	</div>
</div>